.square{
  background: white;
  height: 100px;
  width: 100px;
  font-size: 50px; /* Slightly reduced font size for better fit */
  font-weight: bold;
  display: flex; /* Use flexbox for centering content */
  justify-content: center;
  text-align: center;
  border: 2px solid rgb(9, 8, 12);
  color: rgb(14, 13, 12);
  padding: 15px;
  border-radius: 10px ;
  font-family: cursive;

}
/* Improve board row styling */
.board-row {
  display: flex;
  justify-content: center;
  align-items: center;}

/* Improve tic positioning */
.tic {
  margin-top: 20px; /* Reduce the top margin for better positioning */
  border: 10px solid rgb(223, 220, 49);
  box-shadow: 10px 10px 10px 10px black;
  border-radius: 5%;
}
.status {
  margin-bottom: 10px;
  text-align: center;
  padding: 0.5em lem;
  font-size: 25px;
  background-color: rgb(17, 16, 17);
  color: rgb(73, 224, 73);
  box-shadow: 10px 10px 10px  rgb(42, 212, 119);
  border-radius: 5%;
}

/* Improve body background */
body {
  background: linear-gradient(rgb(197, 62, 152), rgb(2, 10, 4));;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the game is centered vertically */
}
.board-box :hover{
  color: rgb(163, 13, 143);
  transform: 1.2px;
  }
.aa{
  font-size: 50px;
  color: rgb(215, 204,);
  font-family:initial;

}
.button-container{
  text-shadow: 2px;
  padding: 20px;
  justify-content: end;
  font-size: large;
  
}